<% unless session[:signed_in] %>
  <form action="/sign_in" method="get">
    <button type="submit">Sign In</button>
  </form>
<% end %>
<% @files.each do |file| %>
  <ul>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="<%= file %>/edit_file">edit</a>
      <form action="/delete/<%= file %>" method="post">
          <button type="submit">Delete</button>
      </form>
    </li>
  </ul>
<% end %>
<a href="/new_file">New File</a>
<% if session[:signed_in] %>
  <p>signed in as <%= session[:username] %></p>
  <form action="/sign_out" method="post">
    <button type="submit">Sign Out</button>
  </form>
<% end %>